@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);
@import url(reset.css);

body {
	margin: 10px;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

p {
	padding: 10px;
}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #EDE275;
}

.logo {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	box-shadow: 2px 2px 6px gray;
	height: 17%;
	width: 17%;
}

.husky {
	float: right;
	position: relative;
	right: 20px;
	height: 15%;
	width: 15%;
}

.company {
	text-align: center;
	font-size: 300%;
	color: #461B7E;
	font-family: 'Stint Ultra Expanded';
}

.info {
	text-align: center;
}

.info p {
	padding: 2px;
}

header nav {
	text-align: center;
}

header nav ul {
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #461B7E;
	box-shadow: 2px 2px 6px gray;
}

header nav li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

header nav a {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	font-size: 110%;
	color: #EDE275;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.home li {
	padding: 5px;
	font-style: italic;
}

.home a {
	color: black;
}

.home,
.menu,
.about,
.jobs {
	margin: 10px;
	padding-bottom: 20px;
}

.menu h1, 
.about h1,
.jobs h1 { 
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 200%;
}

.menu h2 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	font-size: 150%;
}


.menu h3 {
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 10px;
}


.pizza1 {
	float: left;
	margin-right: 20px;
	box-shadow: 2px 2px 6px gray;
	height: 45%;
	width: 45%;
}


.items {
	margin-left: 60px;
	padding-top: 5px;
}

.description {
	padding: 0px;
	padding-bottom: 15px;
	font-style: italic;
	font-size: 90%;
	color: gray;
}

.special {
	font-style: italic;
	color: red;
}

.counter {
	float: right;
	box-shadow: 2px 2px 6px gray;
	margin: 10px;
	height: 35%;
	width: 35%;
}

.oven {
	float: right;
	box-shadow: 2px 2px 6px gray;
	margin: 10px;
	height: 40%;
	width: 40%;
}

.about h2 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 120%;
	font-style: italic;
}

.about p {
	text-indent: 50px;
}

.pizza-cartoon {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 25%;
	width: 25%;
}

footer {
	margin-top: 20px;
	padding-top: 10px;
	border-top-style: solid;
	border-color: #999898;
	border-width: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

footer nav ul {
	margin-left: 20px;
	margin-right: 20px;
}

footer nav li {
	display: inline-block;
	padding-right: 20px;
	font-style: italic;
}

footer nav a {
	color: #999898;
	font-size: 85%;
}

footer p {
	color: #999898;
	font-size: 85%;
	font-style: italic;
}

.call-us {
	float: right;
	position: relative;
	bottom: 8px;
	margin-right: 10px;
}

.copyright {
	padding-bottom: 20px;
}

.copyright p {
	padding-top: 30px;
	text-align: center;
}

.copyright-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 8%;
	width: 8%;	
}















