@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);
@import url(reset.css);

body {
	margin: 10px;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

p {
	padding: 10px;
}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #EDE275;
}

.logo-left {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	box-shadow: 2px 2px 6px gray;
}

.logo-right{
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	box-shadow: 2px 2px 6px gray;
}

.company {
	text-align: center;
	font-size: 300%;
	color: #461B7E;
	font-family: 'Stint Ultra Expanded';
}

.info {
	text-align: center;
}

nav {
	text-align: center;
}

nav ul {
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #461B7E;
	box-shadow: 2px 2px 6px gray;
}

nav li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

nav a {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	font-size: 110%;
	color: #EDE275;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.info p {
	padding: 2px;
}

.main,
.menu,
.about,
.jobs {
	margin: 10px;
	padding-bottom: 40px;
}

.menu h1, 
.about h1 { 
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 200%;
}

.menu h2 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	font-size: 150%;
}


.menu h3 {
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 10px;
}


.pizza1 {
	float: left;
	margin-right: 20px;
	box-shadow: 2px 2px 6px gray;

}

.main li {
	padding: 5px;
}

.husky {
	float: right;
	position: relative;
	bottom: 10px;
}

.items {
	margin-left: 60px;
	padding-top: 5px;
}

.items h4 {
	padding-bottom: 15px;
	font-style: italic;
	font-size: 90%;
	color: gray;
}

.special {
	font-weight: bold;
}

.counter,
.oven {
	float: right;
	box-shadow: 2px 2px 6px gray;
	margin: 10px;
	margin-left: 10px;
}

.about h2 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 120%;
	font-style: italic;
}

.about p {
	text-indent: 50px;
}














